<div id="field">
    <label>{{localize "SPACER.item.sheet.label.defence"}}</label>
    <input type="text" name="system.defence.value" value="{{system.defence.value}}">
</div>
<div id="field" class="col-span-2">
    <label>{{localize "SPACER.item.sheet.label.traits"}}</label>
    <multi-select name="system.traits" multiple>
        {{selectOptions SPACER.item.armour.traits selected=system.traits localize=true}}
    </multi-select>
</div>